.lessonplan-container {
    background-image: url("../../assets/background_home2.jpg");
    /* width: 100%; */
    max-width: 1278px;
    height: 86vh;
    margin: 0 auto;

    display: grid;
    /* position: static; */
    align-items: center;
    justify-content: center;
    
}

.lessonplan-container h1 {
    font-size: 60px;
    position: absolute;
    left: 37%;
    /* font-size: 60px; */
    /*  text-align: justify ; */
    /* display: contents ; */
   /*  align-items: center; */
    /* justify-content: center;   */
}

.lessonplan-container .lessonplan-selection { 
    background: #fff;
    opacity: 90%;
    border-radius: 8px;
    display: flex;
    position: absolute;  
    left: 20%;  
    top: 25%
    /* position: top ;  */
   /*  justify-content: space-between;  */
        
}

.lessonplan-container .lessonplan-selection .lessonplan-selection-form { 
    width: 200px;
    height: 56px;
    position: relative;
    line-height: 26px;
}

.lessonplan-container .lessonplan-selection .lessonplan-input { 
    width: 200px;
    height: 56px;
    position: relative;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;    
}

.lessonplan-print {
    position: absolute;  
    left: 80%;  
    top: 40%
}

.lessonplan-table {
    background: #fff;
    opacity: 90%;
    border-radius: 8px;
    position: absolute;  
    left: 28%;  
    top: 40%;
    font-size: larger;
    border-style: ridge;
    max-width: 700px;
    max-height: 380px;
    overflow: scroll;
}

.lessonplan-table .lessonplan-table-cabecalho {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
    justify-content: space-between;
    align-items: center;  
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
   
}

.lessonplan-table .lessonplan-table-cabecalho-h1 .h1 {
    font-size: larger;
}

.lessonplan-table-border {
    border: 1px solid rgba(0, 0, 0, 0.05)
}

.lessonplan-table .lessonplan-table-h2 {
    margin-left: 250px;
}

.lessonplan-table .lessonplan-table-h3 {
    margin-left: 200px;
}

.lessonplan-table .lessonplan-table-h4 {
    margin-left: 250px;
}

.lessonplan-table .tr{
    border-collapse: collapse;
}

.rbutton {
    width: 200px;
    height: 57px;
    background: #DCDCDC;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    transition: filter 0.2s;
    margin-left: 12px;
    margin-top: 8px;
    margin-right: 8px;
}
.rbutton:hover {
    filter: brightness(97%);
} 