.header-container {
    background: #fcfafa;
    width: 100%;
    max-width: 1278px;
    padding: 0 30 px;
    margin: 10px auto;
}

.header-container header {
    display: flex;
    align-items: center;
}

.pheader-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.header-container header img {
    height: 64px;
}

.header-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.header-container header button {
    height: 30px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #A9A9A9;
    background: transparent;
    margin-left: 16px;
    transition: border 0.2s;
}

.header-container header button:hover {
    border-color: #3333;
}
